<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
</head>

<body style="margin: 0; padding: 0; font-family: Verdana, sans-serif; text-align: center;">
<div style="margin: 0 auto; padding: 20px; max-width: 600px;">
  <h1 style="font-size: 24px; color: #4A90E2;">비밀번호를 잊어버리셨나요?</h1>
  <p style="font-size: 18px; color: #555; margin-top: 10px;">
    새로운 비밀번호를 입력해주세요.<br>대소문자, 특수문자 포함 최소 8글자를 입력해주세요.
  </p>
  <br>

  <div style="border: 1px solid #ddd; border-radius: 10px; padding: 20px; text-align: left; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <form>
      <label for="new-password" style="font-size: 16px; color: #333;">새 비밀번호:</label>
      <input type="text" id="new-password" name="new-password"
             pattern="(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\W)(?=\S+$).{8,16}"
             title="비밀번호는 최소 8글자이며, 대소문자, 숫자, 특수문자를 포함해야 합니다."
             required
             style="width: calc(100% - 20px); padding: 10px; margin-top: 10px; margin-bottom: 20px; border: 1px solid #ccc; border-radius: 5px; font-size: 16px;">
      <br><br>
      <input type="submit" value="비밀번호 변경" style="padding: 15px 20px; background-color: #9BBCE0; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 18px; width: 100%; box-sizing: border-box;">
    </form>
  </div>
  <br />
</div>
</body>

</html>
